*{  margin:0;
	padding:0;
	font-family:sans-serif;
}
.main{
	width:100%;
	height:400vh;
	position:relative;
	overflow:hidden;
	background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
}

nav{
	width:80%;
	position:sticky;
	margin:20px auto;
	z-index:1;
	display:flex;
	align-items:center;
}
.logo{
	flex-basis:20%;
}
.logo img{
	width:150px;
}
.nav img{
	width:150px;
}
.nav-links{
	flex:1;
	text-align:right;
}
.nav-links ul li{
	list-style:none;
	display:inline-block;
	margin:0 20px;
}
.nav links ul li a{
	color:red;
	text-decoration: none;

}
.information{
	width:1000px;
	height:1000px;
	position:absolute;
	top:50%;
	left:-10%;
	transform:translateY(-50%);
}
#circle{
	width:1000px;
	height:1000px;
	position:absolute;
	top:15%;
	left:-14%;
	border-radius: 50%;
	transform:rotate(0deg);
	transition:1s;
	

}
.feature img{
	width:70px;
	display:flex;
	color:#fff;

}
.feature{
	position:absolute;
	display:flex;
	color:#fff;
}
.feature div{
	margin-left:30px;
}
.feature div p{
	margin-top:8px;
}
.one{
	top:350px;
	right:-20px;
}
.two{
	top:70px;
	left:260px;
	transform:rotate(-90deg);
}
.three{
	bottom:350px;
	left:-20px;
	transform:rotate(-180deg);
}
.four{
	bottom:70px;
	right:260px;
	transform:rotate(-270deg);
}
.mobile{
	width:200px;
	position:absolute;
	top:50%;
	left:40%;
	transform:translateY(-50%);}
.controls{
	position:absolute;
	right:-15%;
	top:50%;
	transform:tranlateY(-50%);
	text-align:center;
}
.control h3{
	margin:10px 0;
	color:#fff;
}
#upbtn{
    width:14px;
    cursor:pointer;
}
#downbtn{
	width:14px;
	cursor:pointer;
	transform:rotate(180deg);

}
.overlay{
	width:0px;
	height:0px;
	border-top:500px solid #fff;
	border-right:500px solid transparent;
	border-bottom:500px solid #fff;
	border-left:500px solid #fff;
    position:absolute;
    left:0;
    right:0;
}


































































































































